<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    
    <appender name="Logzio" class="io.logz.logback.LogzioLogbackAppender">
        <token>${LOGZIO_TOKEN}</token>
        <logzioType>java</logzioType>
        <addHostname>true</addHostname>
        <additionalFields>service=composer;environment=${ENV}</additionalFields>
    </appender>

    <logger name="org.http4s.blaze.channel.ServerChannelGroup" level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="INFO" />
    <logger name="org.apache" level="WARN"/>
    <logger name="com.ovoenergy.comms.composer" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="Logzio"/>
    </root>
</configuration>
