<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/service-test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{ISO8601} %-5level[%thread] %logger %X{} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DOCKER" class="ch.qos.logback.core.FileAppender">
        <file>target/service-test-docker.log</file>
        <append>false</append>
        <encoder>
            <pattern>%X{DOCKER_CONTAINER_NAME} - %msg</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="WARN" />
    <logger name="org.http4s.blaze.channel.ServerChannelGroup" level="WARN" />
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="OFF" />
    <logger name="io.confluent.kafka.serializers.KafkaAvroSerializerConfig" level="OFF" />
    <logger name="io.confluent.kafka.serializers.KafkaAvroDeserializerConfig" level="OFF" />
    <logger name="com.ovoenergy.comms.dockertestkit.DockerContainerManager" level="DEBUG" />
    <logger name="com.spotify.docker.client" level="DEBUG" />
    <logger name="com.spotify.docker.client.shaded" level="WARN" />

    <logger name="DOCKER" level="INFO" additivity="false" >
        <appender-ref ref="DOCKER"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>